In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = {
    'Model': ['Damas', 'Spark', 'Nexia', 'Jentra'],
    'Motor_sigim': [0.6, 0.8, 0.8, 0.8],
    'Narxi': [78000000, 73000000, 87000000, 114000000] 
}
Avtomobil = pd.DataFrame(data, columns=['Model', 'Motor_sigim', 'Narxi'])
Avtomobil

    Model  Motor_sigim      Narxi
0   Damas          0.6   78000000
1   Spark          0.8   73000000
2   Nexia          0.8   87000000
3  Jentra          0.8  114000000

In [11]:
admission = pd.read_csv('data/accepted_to_higher.csv',
                       na_values = ':',
                       usecols = ['year','f_school','f_kolledge','f_lyseum','admission'])
admission

   year  f_school  f_kolledge  f_lyseum  admission
0  2011   10559.0      443287     31174      58204
1  2012    8253.0      518766     36358      56969
2  2013    3930.0      505461     34321      57087
3  2014       NaN      498058     36399      59324
4  2015       NaN      482163     36062      58301
5  2016       NaN      478362     35009      57705
6  2017       NaN      457015     32720      80822
7  2018       NaN      454931     31628     108745
8  2019  280324.0      468809     46453     128730

In [55]:
from sklearn.neural_network import MLPClassifier

In [6]:
X = [[1., -1.], [1., 0.], [3., -1.]]
y = [0, 0, 1]
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                    hidden_layer_sizes=(5, 2), random_state=1)

clf.fit(X, y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [7]:
clf.predict([[1.0,2.0],[-1.0, -2.0], [1., 2.]])

array([0, 0, 0])

In [8]:
[coef.shape for coef in clf.coefs_]

[(2, 5), (5, 2), (2, 1)]

## Satrlarning zunligini o'lchash operatori va ularni ulash

In [12]:
a = "Assalomu alaykum.\n"
b = "Hayrli tong!"
print("a o`zgaruvchisining uzunligi: ", len(a))

a o`zgaruvchisining uzunligi:  18

In [6]:
a = "Assalomu alaykum.\n"
b = "Hayrli tong!"
print(a, " ", b)

Assalomu alaykum.   Hayrli tong!

In [53]:
a = "Assalomu alaykum.\n"
b = "Hayrli tong!"
print(a*10)

Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.
Assalomu alaykum.

In [ ]:
Satr kattaligining o`zgaruvchilari vektor deb olsak ham bir xarf uning elementi xisoblanada
[] qavsi ichiga berilgan indeks raqami bilan burojaat qilish mumkin

In [16]:
print(a[1])

s

In [17]:
a = "Assalomu alaykum.\n"
print(a[:7])

Assalom

In [30]:
a = "Assalomu alaykum. Yaxshi joylashib oldinglarmi?"
b = "Hayrli tong!"
print("a o`zgaruvchisining uzunligi: ", len(a))
c = "Navro`z!"
d = a[:7]+" "+c
print(d)

a o`zgaruvchisining uzunligi:  47
Assalom Navro`z!

In [31]:
matn = "Isoxlar qo`shtirnoq \" ichida yoziladi"

In [54]:
raqamlar = "0+1+2+3+4+5+6"
yangiMatn = raqamlar.split("+")
yangiMatn[6]

'6'

In [50]:
Ism = "Doniyorbek"
yoshi = 35
print(Ism, yoshi, "yosh", sep = "-", end=".")

Doniyorbek-35-yosh.

In [51]:
n = input("Raqam yozing k(0<k<999)")
n = int(n)
d1 = n%10
d1

Raqam yozing k(0<k<999) 16

In [57]:
# Taqqoslash amallari
yoshim = 35
print(34==yoshim)

False

In [64]:
# Taqqoslash amallari
print(0!=False)

False

In [67]:
matn = "Assalomu alaykum ustoz. Xush kelibsiz!"
print("Assalomu alaykum" in matn)

True

In [74]:
savat1 = ['olma','anor']
savat2 = ['shaftoli', 'olma', 'anor']
print((savat1 == savat2) and 1)
print((savat1 == savat2) or True)
print(not(savat1 == savat2))

False
True
True

##Tarmoqlanuvchu operatorlar

In [76]:
a = input("raqam kiriting a")
if a==0:
    print("Raqam nolga teng")
else:
    print("Raqam nolga teng emas")

raqam kiriting a 7

Raqam nolga teng emas

## Murakkab tarmoqlanuvchi algoritm

In [ ]:
a = input("raqam kiriting a:")
a = int(a)
if a==0:
    print("Raqam nolga teng")
elif a>0:
    print("Raqam noldan latta")
else:
    print("Manfiy raqam kiritildi")

## Ichma ich joylashgan shartli o'tish

In [3]:
# x = input("raqam kiriting a:")
x = 10
if x > 0:
    if x>=10:
        print("Raqam musbat va 10 dan katta yoki teng")
    else:
        print("Raqam musbat lekin 10 dan kichik")
else:
    print("Raqam manfiv")

Raqam musbat va 10 dan katta yoki teng

In [1]:
import NLTK

ModuleNotFoundError: No module named 'NLTK'